.clr{
    clear: both;
}



.one{
    width: 400px;
    height: 100px;
    float: left;
    background-color: lightpink;


    
    /* border-left-width: 10px;
    border-left-color: black;
    border-left-style: solid; */
    border: 10px solid black;

    /* margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-right: 20px; */

    /* margin: 50px 40px 30px 100px; */
}
.two{
    width: 400px;
    height: 100px;
    float: left;
    background-color: lightblue;
    border: 10px solid rgb(150, 138, 138);

    /* margin: 50px 40px 30px 100px; */
    
}

.three{
    width: 900px;
    height: 150px;
    background-color: orangered;
}