

/* .clr{
    clear: both;
} */


.one{
    width: 600px;
    height: 100px;
    background-color: darkviolet;
    border: 1px solid black;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 5px;

    padding-left: 10px;
}
.two{
    width: 600px;
    height: 100px;
    background-color: magenta;
    border: 1px solid black;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
}
.three{
    width: 600px;
    height: 100px;
    background-color: darkorange;
    border: 1px solid black;
    margin-left: 25px;
    clear: both;
    
}

.bg{
    background-color: brown;
}